<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{% static 'imageweather.png' %}" width="60" height="55">

<nav>
    <form method="post">
        {% csrf_token %}
        <input type="search" name="city" placeholder="search your city">
        <input type="submit">
    </form>
</nav>

<div>
    {% if country_code and coordinate and temp and pressure and humidity  %}
    <div>
        <h4>Country Code <span>{{country_code}}</span></h4>
        <h4>Coordinates <span>{{coordinate}}</span> </h4>
        <h4>Temprature is <span>{{temp}}</span></h4>
        <h4>Pressure is <span>{{pressure}}</span></h4>
        <h4> Humidity is <span>{{humidity}}</span></h4>
        <h4>Forecast: <span>{{main}}</span></h4>
        <img src="https://openweathermap.org/img/w/{{icon}}.png" height="40" width="45">
        <h4>Description :: <span>{{description}}</span></h4>
    </div>
    {% endif %}
</div>
</body>
</html>